body{font-family: 'Poppins', sans-serif;
  background: #fafafa}
  .wrapper {
      display: flex;
      width: 100%;
      align-items: stretch;
  }
  #sidebar {
      min-width: 400px;
      max-width: 400px;
      /* background: rgb(26, 32, 58); */
      background: #212121;
      color: rgb(175, 101, 101);
      transition: all 0.3s;
  }
  #sidebar.active{
      margin-left: -400px;
  }
  
  @media(maz-width:768px){
      #sidebar{margin-left: -250px;}
      #sidebar.active{
          margin-left: 0px;
      }
      #sidebarCollapse span{
          display: none;
      }
  }

  #sidebar .social-links {
    text-align: center;
    margin-right: 1.5em;
  }

  #sidebar .social-links a {
    display: inline-block;
    text-align: center;
    margin-left: 1.25em;
    margin-right: 1.25em;
  }

  .main-content{
    /* background: #222840; */
    background: #1e1f26;
    padding: 1.75rem 1.312rem;
    width: 100%;
    flex-grow: 1;
  }

  .rest{
    color: #999;
  }

  .letter{
    font-weight: 900;
    position: relative;
    color: #00B4F1;
  }

  .jira {
    background: #0052CC;
    color: white;
  }
  
  .confluence {
    background: #3B5998;
    color: white;
  }
  
  .gitlab {
    background: #e2432a;
    color: white;
  }
  
  .jenkins {
    background: #007bb5;
    color: white;
  }

  #filters{
    position: relative; 
    vertical-align: top;
    width: 90%;
    margin-left:20px;
    font-size: 20px;
    transition: color,background-color .3s ease;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 40px;
  }

  .list-group-item{
      background: #333;
      opacity: 1; 
      margin: 7px;
      display: block;
      position: relative;
      color: #999;
      min-height: 85px;
      padding-left: 36px;
      padding-top: 5px
  }

  .list-group-item .system-lists{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding-top: 0px;
      padding-bottom: 12px;
      width: 12px;
      text-align: center;
      color: #fff;
      background: #29c631;
      display: block;
  }

  .list-group-item.active .selected{
      display: block;
      position: absolute;
      bottom: 25px;
      right: 0px;
    }
  
   .list-group-item.active .selected .triangle{
      border-color: #dcd635;
      position: absolute;
      top: 0;
      right: 0;
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0 0 25px 25px;
    }

    .list-group-item.active .selected .fa{
      position: absolute;
      top: 5px;
      right: 3px;
    }

    .list-group-item .selected .fa{
      color: #333;
    } 

  .list-group-item:hover{
      background-color: #333; 
      border-color: #dcd635;   
      outline: 3px solid #dcd635;  
    }
    
    .list-group-item.active, .list-group-item.active:hover {
    background-color: #2d3514;
    border-color: #dcd635 ;
    outline: 3px solid #dcd635;  
    }

    .list-group-item .list-group-item-heading{
      color: greenyellow;
    }

    .list-group-item-heading{
      padding-top: 0px
    }

    .list-group-item .list-group-item-heading .badge {
      margin-left: 1rem;
  }

    .badge .badge{
        font-size: 11px
    }
      
    .close {
          margin-left: .25rem;
          color: inherit;
          font-size: 100%;
          text-shadow: 0 1px 0 rgba(#000, .5);
    }

    .btn-group-xs {
      padding: .25rem .4rem;
      font-size: .875rem;
      line-height: .5;
      border-radius: .2rem;
    }

    .note-editing{
      float: center;
      margin-top: -10px;
      text-align: center;
    }

    .note-editing textarea{
      display: block;
      background: #222;
      padding: 6px;
      color: #eee;
      height: 38px;
      width: 60%;
      margin-left: 60px;
      font-size: 15px
    }

    .note.note-editing.inactive{
      display: none
    }

    .note.note-editing.active{
      display: block
    }

    
    .note.note-edit.inactive{
      display: none
    }

    .note.note-edit.active{
      display: block	
    }

  .info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 100%;
    /* margin-left:50px; */
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    /* border-radius: 2rem; */
    /* border-collapse: collapse;
    border-spacing: 0 */
  }

.info-box.hover-expand-effect:hover:after {
width: 100%;
}

.info-box.hover-expand-effect:after {
background-color: rgba(0, 0, 0, 0.05);
content: ".";
position: absolute;
left: 80px;
top: 0;
width: 0;
height: 100%;
color: transparent;
-moz-transition: all 0.95s;
-o-transition: all 0.95s;
-webkit-transition: all 0.95s;
transition: all 0.95s;
} 

.card {
  margin-top:30px;
  position: relative;
  /* display: block;
  flex-direction: column; */
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #131633; */
  background-color: #333;
  background-clip: border-box;
  border: 1px solid #313452;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-right:10px;
  padding-left:10px;
  border-radius: 1rem;
}

.card .card-title {
  color: #b1b1b5;
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
}


.bg-pink {
background-color: #E91E63 !important;
color: #fff;
}

.bg-light-green {
background-color: #8BC34A !important;
color: #fff;
}

.bg-cyan {
background-color: #00BCD4 !important;
color: #fff;
}

.bg-orange {
background-color: #FF9800 !important;
color: #fff;
}

.info-box .icon {
display: inline-block;
text-align: center;
background-color: rgba(0, 0, 0, 0.12);
width: 80px;
}

.info-box .icon i {
color: #fff;
font-size: 50px;
line-height: 80px;
}

.info-box .icon svg {
color: #fff;
font-size: 50px;
line-height: 80px;
margin-top: 15px
}

.info-box .content {
display: inline-block;
padding: 7px 10px;
}

.info-box .content .text {
font-size: 16px;
margin-top: 11px;
color: #555;
}

.bg-pink .content .text, .bg-pink .content .number {
color: #fff !important;
}

.bg-cyan .content .text, .bg-cyan .content .number {
color: #fff !important;
}

.bg-light-green .content .text, .bg-light-green .content .number {
color: #fff !important;
}

.bg-orange .content .text, .bg-orange .content .number {
color: #fff !important;
}

.cards {
  padding-top:30px;
  padding-bottom:30px;
  /* margin-top:30px; */
  position: relative;
  /* display: block;
  flex-direction: column; */
  /* margin-bottom: 30px; */
}

.circle-background,
.circle-progress {
  fill: none;
}

/* .circle-background {
  stroke: #333;
} */

.circle-outter{
  fill: none;
  stroke: #111;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #b1b1b5;
}

.circle-sidetext{
  font-size: 2em;
  fill: #b1b1b5;
}

.table{
  width:100%;
  margin-top:2rem;
}

.table thead th{
  color:#999;
  padding:0.8rem;
  border-bottom: 2px solid rgba(46, 50, 74, 0.7);
  border-top: 1px solid rgba(46, 50, 74, 0.7);
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: normal;
  font-size: 1rem;
  font-weight: 500;
}

.table tbody tr td{
  color:#b1b1b5;
  padding: 0.8rem 1.2rem;
  text-align:left;
  border-top: 1px solid rgba(46, 50, 74, 0.7);
}

.table tbody tr:nth-child(odd){
    background:#222;
}

.badge-outline-success {
  color: #29c0b1;
  border: 1px solid #29c0b1;
}

.pagination{
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  border-color: #2a2c40;
  color: #ffffff;
  font-size: .875rem;
  padding-left: 25px
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #3a3f51;
  border: 1px solid #dee2e6;
  margin:5px
}


/* .circle-background,
.circle-progress {
fill: none;
}

.circle-background {
stroke: #ddd;
}

.circle-text {
font-size: 3em;
font-weight: bold;
fill: red;
}

.circle-sidetext{
font-size: 2em;
fill: red;
} */

.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-bottom: 10px;

}
.foote_bottom_ul_amrc li { display: inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table;list-style-type:none; float:right;  }
.social_footer_ul li { padding-left:20px; padding-top:15px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:5px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}